* {
  margin: 0;
  font-family: "Arial Narrow Bold", sans-serif, serif, sans-serif;
}

.seccion {
  display: none;
  padding: 20px;
}

.seccion.activa {
  display: block;
}

header {
  background-color: black;
}

.nombre {
  color: blanchedalmond;
}

.b1,
.b2,
.b3 {
  background-color: blanchedalmond;
}
main {
  background-color: blanchedalmond;
}

body {
  background-color: blanchedalmond;
}

  